/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

header {
    position: fixed;
    height: 100px;
    background-color: white;
    padding: 0 0;
}

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

body {
    font-family: Roboto, system-ui, sans-serif;
    font-size: 81.25%;
}

.green-spotify {
    width: 15%;
    margin-left: 40px;
    
}

nav a {
    text-decoration: none;
    color: #1A1A1A;
}

nav ul {
    list-style: none;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

nav li {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
}

#section1 {
    background-image: url(../images/landing.jpg);
    background-position: 0 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
    width: 100%;
}

#section1 h1 {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 300px;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 20px;
}

.whatSpotify {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 5px;
}

#section2 {
    height: 500px;
    display: flex;
    justify-content: center;
    
}

#section2 article {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;


}

#section1 p {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 27px;
    font-weight: 220;
}



#section2  div {
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
    align-items: center;
}

#section2 img {
    height: 80px;


}


#section2 h4 {
    font-size: 25px;
    color: #00B172;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#section2 p {
    font-size: 22px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

#section3 {
    height: 800px;
    background-color: #00B172;
    color: #FFF;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

#section3 h3 {
    font-size: 2em;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-position: under;
    text-underline-offset: 5px;
}

#section3 div {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.green-box {
    display: flex;

    
}

.white-spotify {
    height: 120px;
    display: flex;
    position: absolute;


}

.app {
    height: 600px;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 40%;
    margin-right: -20%;
}